#hero {
    position: relative;
    height: 80vh;
    background-image: url(../../assets/images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
    #hero hgroup {
        position: absolute;
        min-width: 30%;
        max-width: 40%;
        padding: 2rem;
        border: 0.1rem solid white;
        color: white;
        left: 10vw;
        top: 50%;
        transform: translate(0, -50%);
    }

        #hero hgroup h1 {
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            font-size: 4rem;
            margin-block: 0;
            font-weight: 100;
        }
#content {
    padding: 10vw;
}
    #intro {
        position: relative;
    }
        #intro img:nth-child(1) {
            width: 60%;
        }
        #intro img:nth-child(2) {
            display: none;
            width: 100%;
        }
        #intro hgroup {
            background-color: white;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 45%;
            padding: 5vw 0 0 5vw;
        }
            #intro hgroup h1 {
                margin-block-start: 0;
                margin-block-end: 2rem;
                font-size: 4rem;
                text-transform: uppercase;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 100;
            }
            #intro hgroup p {
                margin-block-end: 0;
                font-family: Alata, sans-serif;
                line-height: 2rem;
                color: var(--dark-gray);
            }
    
    #title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
    }
        #title h1 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 4rem;
            font-weight: 100;
        }
        
        #title button, #button-mobile {
            font-family: Alata, sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
            background-color: transparent;
            padding: 1rem 2rem;
            letter-spacing: 0.2rem;
            border-style: solid;
            border-color: black;
        }
            #title button:hover, #button-mobile:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }

    #creations {
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        gap: calc(12% / 3);
    }

    #button-mobile {
        display: none;
    }

@media screen and (min-aspect-ratio: 1) and (max-width: 1024px){
    #intro hgroup h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-aspect-ratio: 1) {
    #hero {
        background-image: url(../../assets//images/mobile/image-hero.jpg);
        padding-left: 2rem;
    }

    #hero hgroup {
        left: 2rem;
        max-width: calc(100% - 8rem);
    }
        #hero hgroup h1 {
            font-size: clamp(2.5rem, 2.5vw, 3rem);
        }
    #content {
        padding: 8rem 2rem;
    }

        #intro img:nth-child(1) {
            display: none;
            width: 60%;
        }
        #intro img:nth-child(2) {
            display: block;
        }
        #intro hgroup {
            margin-block-start: 4rem;
            position: static;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        #intro hgroup h1 {
            font-size: 2.5rem;
        }

    #title {
        justify-content: center;
    }
        #title button {
            display: none;
        }
        #title h1 {
            font-size: clamp(2.5rem, 2.5vw, 3rem);
            text-align: center;
        }
    #creations {
        grid-template-columns: auto;
        gap: 2rem;
    }
    #button-mobile {
        display: inline;
        width: 50%;
        margin-left: 50%;
        transform: translate(-50%);
    }
}
